.app-layout {
  display: flex;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  background: #f8fafc;
}

.page-content {
  padding: 1rem;
}
@media (max-width: 991px) {

  .sidebar {
    display: none;
  }

}